@model IEnumerable<Desafio.Intelectah.ViewModels.PacienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CpfPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexoPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonePaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailPaciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CpfPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NmPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexoPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonePaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailPaciente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
